/* Login.css */

/* 왼쪽 정렬, margin-left: 33px; */
.login-container {
    margin-left: 33px;
}

.login-container h1 {
    /* text-align: center; 가운데 정렬 */
    font-size: 24px;
    /* background-color: #0056b3; */
    margin: 0 auto;
    padding: 56px 0px 28px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    width: 324px;
}

#login-container form section {
    margin-bottom: 1em;
}

.login-container form input {
    /* padding: 0.5em; */
    height: 46px;
    font-size: 12px;
    padding: 0px 12px;
    border: 1.5px solid #D7D7D7;
    margin-bottom: 12px;
    border-radius: 10px;
}

.login-container form label {
    display: flex;
    color: #333;
}

input#remeber-check {
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;

}

.login-container form label p {
    font-size: 12px;
    margin: 0;
}

.login-container form button {
    padding: 0.5em;
    color: #fff;
    background-color: #A3A4B0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container form button:hover {
    background-color: #000;
}
