/* main.css - 폭 고정 */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    width: 390px;
    /* height: 790px;  */
    /*지움*/
    height: 200vh;
    /*추가*/
    height: -webkit-fill-available;
    /*추가*/
    /* height: fill-available; */
    height: stretch;
    /*추가*/
    margin: 0 auto;
    position: relative;
    padding: 0;
    z-index: 0;
    /* background: #F6F6F6; */
}

.home-contents {
    margin-left: 20px;
}

.home-p {
    font-size: 27px;
    font-weight: 700;
    margin: 0px 0px 17px 14px;
    /* margin-left: 14px; */
}

.imgBox {
    width: 350px;
    height: 460px;
    border-radius: 20px;
    margin-bottom: 104px;
    background-color: grey;
}


/* 문화 콘텐츠 */
.cate-box {
    display: flex;
    margin-top: 36px;
}

.c-img {
    width: 116px;
    height: 116px;
    border-radius: 100px;
    background-color: rgb(246, 255, 164);
    margin-right: 22px;
}

.text-t {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.link-t {
    color: #A3A4B0;
    font-size: 14px;
    margin-top: 7px;
    
}


/* 추천 */
.cate-title {
    display: flex;
}

.makdagi-1 {
    width: 183px;
    height: 2px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #000000;
    /* 오른쪽 정렬 해야함 */
}

.makdagi-2 {
    width: 291px;
    height: 2px;
    margin-top: 16px;
    margin-left: 11px;
    background-color: #000000;
    /* 오른쪽 정렬 해야함 */
}

.rec-alg img {
    width: 104px;
    height: 140px;
    border-radius: 10px;
}